@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body{
    overflow-x: hidden;
margin: 0;
    font-family: "Raleway", serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

.banner_div{
    background: url("https://images.unsplash.com/photo-1636955860106-9eb89e576026?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center top / cover;
 
}

.navnav{
    position: fixed;
    z-index: 11;
    width: 100vw;
}
.banner-div-first{
    padding: 100px;
    margin-top: 170px;
}
.first-p{
    color: white;
    font-size: 35px;
}
.secondd-p{
    color: white;
    font-size: 37px;
    line-height: 45px;
    font-weight: 600;
}
.third-p{
    margin-top: 20px;
    color: #e67700;
    font-size: 40px;
    font-weight: 500;
}
.banner-div-second{
    margin-top: 70px;
    padding: 80px;
    text-align: center;
}

.banner-div-second img{
    height: 450px;
    width: 80%;
    border-radius: 10%;

}

#buttons {
    width: 80vw;
    margin: auto;
    text-align: center;
}

.button {
    border: none;
    color: white;
    /* padding: 13px 80px; */
    height: 60px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5%;
}



.button2 {
    background-color: transparent;
    color: #e67700;
    border: 2px solid #e67700;
    font-size: 21px;
}

.button2:hover {
    background-color: #e67700;
    color: white;
    /* border: 2px solid white; */
}


@media only screen and (max-width: 768.99px) {

.banner-div-second {
    padding: 20px !important;
}

.banner-div-first {
    padding:70px 0px 0px 40px;
    margin-top:100px;
}
.secondd-p {
    color: white;
    font-size: 45px;
}
.third-p{
    font-size: 30px;

}

.banner-div-second img {
    height: 350px;
}
}